<p id="notice"><%= notice %></p>

<h1>People</h1>
<h3 class="text-center">Here is a list of all of the people saved on the server. You may view all of them, or you may click the <i>New Person</i> link to add a new user </h3>

<div class="text-center">
<% @people.each do |person| %>
	<a href="/people/<%= person.id%>"> <div class=" col-md-12" style="border: 1px solid #000000;width: <%= 100/@people.count %>%;">
	<center><img src="<%=h person.gravatar_url %>" class="img-responsive" data-toggle="tooltip" data-placement="bottom">
    <p><%= person.name%></center>
	</div></a>
    <% end %>
</div>
<i>NOTE: The user image is taken from gravatar</i>

  <br>

<%= link_to 'New Person', new_person_path %>
